.test1 {
    background: url(http://test) no-repeat 0 0;
}
.test2 {
    background: url(http://test) repeat-x 0 0;
}
.test2 {
    background: url(http://test) repeat-x;
}
.test3 {
    background-image: url(http://t);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}