body {
    display: flex;
    justify-content: center;
}

.box {
    margin: 0 30px;
}

.bat {
    width: 64px;
    height: 64px;
    background: url(./img/bat.png);
}

.cat {
    width: 32px;
    height: 32px;
    background: url(./img/cat.png);
}

.hen {
    width: 64px;
    height: 64px;
    background: url(./img/hen.png);
}

.llama {
    width: 16px;
    height: 16px;
    background: url(./img/llama.png);
}

.rabbit {
    width: 100px;
    height: 100px;
    background: url(./img/rabbit.png);
}

.swan {
    width: 120px;
    height: 120px;
    background: url(./img/swan.png);
}

.turtle {
    width: 16px;
    height: 16px;
    background: url(./img/turtle.png);
}

.balo_de_barcelos {
    width: 32px;
    height: 32px;
    background-image: url(./img/balo_de_barcelos@2x.png);
}

.brazilian_carnival {
    width: 64px;
    height: 64px;
    background-image: url(./img/brazilian_carnival@2x.png);
}

.flip_flops {
    width: 16px;
    height: 16px;
    background-image: url(./img/flip_flops@2x.png);
}

.tram {
    width: 50px;
    height: 50px;
    background-image: url(./img/tram@2x.png);
}
.pie {
    width: 100px;
    height: 100px;
    background: url(./img/pie@2x.png);
}